/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 15, 2022, 6:11:20 PM
    Author     : VothanaCHY
*/

.containerI{
    height: 100%;
    width: 80%;
    margin: auto;
    background: aquamarine;
}