/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 15, 2022, 6:11:20 PM
    Author     : VothanaCHY
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.parent{
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.profile{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.link{
    position: relative;
    width: 100px;
    padding: 10px;
    font-weight: 700;
    border-radius: 12px;
    margin-left: 10px;
    text-align: center;
    align-self: baseline;
    cursor: pointer;
}
.link:nth-child(1){
    background-color: beige;
}
.link:nth-child(2){
    background-color: rgb(63, 182, 148);
}
.link:nth-child(3):hover{
    background-color: rgb(250, 250, 237);
    color: #859400;
}
.link:hover{
    background-color: rgb(145, 145, 91);
    color: aliceblue;
}
.badge{
    width: 15px;
    height: 15px;
    color: white;
    position: absolute;
    border-radius: 405px;
    background-color: rgb(196, 105, 105);
    font-size: 10px;
    left: 52px;
    top: 4px;
}
.profileImg{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 10px;
    overflow: hidden;
    cursor: pointer;
}
.profileImg img{
    width: 50px;
    height: 50px;
} 
.box{
    width: 100%;
    height: 90%;
    border-radius: 20px;
    background-color: #DAF1E7;
    padding: 20px;
}

.cart_page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.cart_box{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cart_header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}
.cart_header_child{
   width: 80%;
   height: auto;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   border-bottom: 2px solid black;
}
.cart_header_child p{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-weight: 600;
}
.cart_center{
    width: 100%;
    height: 75%;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    overflow-y: scroll;
}
.cart_center_header{
    width: 100%;
    height: 10%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.cart_item{
    width: 100%;
    height: 120px;
    display: flex;
    margin-top: 15px;
}
.detail_box{
    width: 30%;
    height: 120px;
    display: flex;
}
.image{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow:10px 11px 14px -6px rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 11px 14px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 11px 14px -6px rgba(0,0,0,0.3);;
}
.image img{
    width: 100%;
    height: 100%;
}
.detail {
    position: relative;
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   padding-left: 10px;
   border-radius: 5px;
   border-left: 2px solid rgb(0, 145, 7);
}
.detail p:nth-child(2){
    color: #859400;
}
.detail .remove{
    position: absolute;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: pointer;
    transition: all 0.22s ease;
}
.detail .remove:hover{
    color: red;
    font-weight: 700;
    transition: all 0.22s ease;
}
.text{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
        font-weight: 700;
}
.text p{
    margin: 0;
}

.qty_text{
    padding: 5px 10px 5px 10px;
    color: whitesmoke;
    border-radius: 10px;
    margin: 0 10px;
    background-color: #859400;
}
.count{
    margin: 0 10px !important;
    cursor: pointer;
}
.count:hover{
    color: #859400;
}

.cart_bottom{
    width:100% ;
    height:15%;
    display: flex;
    font-weight: 600;
    justify-content: center;
}
.cart_bottom_child{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: 2px solid black ;
}
.btnCheckOut{
    width: 150px;
    margin-top: 15px;
    font-weight: 600;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    color: blue;
    background-color: rgb(63, 182, 148);
}
.totalPrice{
    padding-top: 10px;
    font-weight: 700;
    color: #859400;
}
.btnCheckOut:hover{
    background-color: rgb(145, 145, 91);
    color: aliceblue;
}
.btnCheckOut p{
    margin-top: 12px;
}




::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}